
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

@import "tailwindcss";

@theme{
    --font-ScienceGothic: Science Gothic, "sans-serif";
    --default-font-family: var(--font-ScienceGothic);
}

.settings-btn {
    @apply 
    border-white 
    border-l-1 border-r-1 
    px-4 py-6
    min-w-35
    text-xl
    hover:bg-gray-800 hover:cursor-pointer
}

.settings-label {
    @apply
    text-center text-2xl bg-gray-700 
    py-2
    border-b-1 border-white
}

.asteroid-identity {
    @apply
    inline
    text-lg
}

.asteroid-value {
    @apply
    inline
    font-bold text-gray-200
    text-xl
}