
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

@import "tailwindcss";

@theme{
    --font-ScienceGothic: Science Gothic, "sans-serif";
    --default-font-family: var(--font-ScienceGothic);
}

.settings-btn {
    @apply 
    border-white border-1 
    p-4 my-4 
    hover:bg-gray-800 hover:cursor-pointer
}